#################################################################################
# Placing a # in front of any of the items listed below (e.g., #analyzer) will  #
# allow these items to be pushed to your Git repository. Keep in mind the more  #
# files you push to your repository, the more your performance may be affected. #
#################################################################################

/WinoDomowe1/Output
/WinoDomowe1/Analyzer
/WinoDomowe1/FileSync
/WinoDomowe1/Project/Users
/WinoDomowe1/.svn
**/Thumbs.db

#################################################################################
# Add items to be ignored below                                                 #
#################################################################################

/pierwszy projekt/Output
/pierwszy projekt/Analyzer
/pierwszy projekt/FileSync
/pierwszy projekt/Project/Users
/pierwszy projekt/.svn
